body {
  background: #dedede;
}
header {
  width: 100%;
  height: 1.25rem;
  position: relative;
  border-bottom: 0.03125rem solid #1e1d1b;
}
header h1 {
  background: #fff;
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
}
[data-dpr="2"] header h1 {
  font-size: 24px;
}
[data-dpr="3"] header h1 {
  font-size: 36px;
}
header .left {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../img/xiao_1.png") no-repeat center center;
  background-size: 0.625rem 0.625rem;
  position: absolute;
  left: 0;
  top: 0;
}
header .right {
  position: absolute;
  top: 0;
  right: 0.3125rem;
  font-size: 10px;
}
[data-dpr="2"] header .right {
  font-size: 20px;
}
[data-dpr="3"] header .right {
  font-size: 30px;
}
.sec_1 {
  width: 100%;
}
.sec_1 option {
  font-weight: normal;
}
.sec_1 .list {
  width: 100%;
  background: #fff;
}
.sec_1 .list li {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0.9375rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  border-bottom: 0.03125rem solid #1e1d1b;
}
.sec_1 .list li select {
  width: 1.875rem;
  height: 0.625rem;
  border-radius: 0.15625rem;
  border: 1px solid #1e1d1b;
  font-size: 12px;
  padding: 0 0.078125rem;
}
[data-dpr="2"] .sec_1 .list li select {
  font-size: 24px;
}
[data-dpr="3"] .sec_1 .list li select {
  font-size: 36px;
}
.sec_1 .list li .select_1 {
  width: 3.28125rem;
}
.sec_1 .list li option {
  font-weight: normal;
  text-align: center;
  padding: 0 0.078125rem;
  font-size: 10px;
}
[data-dpr="2"] .sec_1 .list li option {
  font-size: 20px;
}
[data-dpr="3"] .sec_1 .list li option {
  font-size: 30px;
}
.sec_1 .list li input {
  font-size: 12px;
  padding-left: 0.15625rem;
  height: 0.625rem;
}
[data-dpr="2"] .sec_1 .list li input {
  font-size: 24px;
}
[data-dpr="3"] .sec_1 .list li input {
  font-size: 36px;
}
.sec_1 .list li:nth-last-of-type(2) {
  height: 3.4375rem;
}
.sec_1 .list li:nth-last-of-type(2) #detail {
  position: relative;
  width: 100%;
}
.sec_1 .list li:nth-last-of-type(2) #detail .province {
  position: absolute;
  top: 0.9375rem;
  left: 0;
}
.sec_1 .list li:nth-last-of-type(2) #detail .city {
  position: absolute;
  top: 0.9375rem;
  left: 2.5rem;
}
.sec_1 .list li:nth-last-of-type(2) #detail .area {
  position: absolute;
  top: 0.9375rem;
  left: 5rem;
}
.sec_1 .list li:nth-last-of-type(2) #detail #de {
  position: absolute;
  top: 1.875rem;
  left: 0;
  width: 8.4375rem;
  height: 1.25rem;
  resize: none;
  border: 1px solid #1e1d1b;
  font-size: 12px;
  color: #000;
}
[data-dpr="2"] .sec_1 .list li:nth-last-of-type(2) #detail #de {
  font-size: 24px;
}
[data-dpr="3"] .sec_1 .list li:nth-last-of-type(2) #detail #de {
  font-size: 36px;
}
.sec_1 .list li:nth-last-of-type(2) select {
  width: 2.1875rem;
}
.sec_1 .list li:nth-last-of-type(1) {
  height: 2.1875rem;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 {
  width: 100%;
  height: 100%;
  position: relative;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 p {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.1875rem;
  line-height: 2.1875rem;
  width: 2.34375rem;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 .chuan {
  position: absolute;
  top: 0.3125rem;
  left: 2.5rem;
  width: 1.25rem;
  height: 1.25rem;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 .upload {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background: #1cc91c;
  color: #fff;
  border: 1px solid #1e1d1b;
  top: 0.625rem;
  left: 4.6875rem;
  width: 1.71875rem;
  height: 0.625rem;
  line-height: 0.625rem;
  border-radius: 0.15625rem;
  text-align: center;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 .upload input {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sec_1 .list li:nth-last-of-type(1) .div_1 span {
  position: absolute;
  font-size: 10px;
  top: 1.171875rem;
  left: 4.6875rem;
  color: #999;
}
[data-dpr="2"] .sec_1 .list li:nth-last-of-type(1) .div_1 span {
  font-size: 20px;
}
[data-dpr="3"] .sec_1 .list li:nth-last-of-type(1) .div_1 span {
  font-size: 30px;
}
.sec_1 .div_2 {
  width: 100%;
  height: 0.9375rem;
  margin: 0.625rem 0;
}
.sec_1 .div_2 .btn_2 {
  background: #fff;
  width: 8.75rem;
  margin: 0 0.625rem;
  height: 0.9375rem;
  line-height: 0.9375rem;
  border: 0.03125rem solid #1e1d1b;
  border-radius: 0.15625rem;
  font-size: 12px;
}
[data-dpr="2"] .sec_1 .div_2 .btn_2 {
  font-size: 24px;
}
[data-dpr="3"] .sec_1 .div_2 .btn_2 {
  font-size: 36px;
}
