body {
  background: url(../images/01.jpg);
  background-size: 100% 100%;
}
.wrap {
  width: 100%;
}
.wrap header {
  width: 100%;
  height: 1.25rem;
  position: relative;
}
.wrap header h1 {
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  background: #1e1d1b;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}
[data-dpr="2"] .wrap header h1 {
  font-size: 28px;
}
[data-dpr="3"] .wrap header h1 {
  font-size: 42px;
}
.wrap header h1 .left {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("../images/xiao.png") no-repeat center center;
  background-size: 0.625rem 0.625rem;
}
.wrap form {
  width: 8.75rem;
  margin: 2.5rem auto 0;
}
.wrap form .div_0,
.wrap form .div_1,
.wrap form .div_2,
.wrap form .div_4 {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 0.15625rem;
  margin-bottom: 0.3125rem;
  padding-left: 0.15625rem;
  width: 8.75rem;
  height: 1.25rem;
}
.wrap form .div_0 label,
.wrap form .div_1 label,
.wrap form .div_2 label,
.wrap form .div_4 label {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  padding: 0;
}
[data-dpr="2"] .wrap form .div_0 label,
[data-dpr="2"] .wrap form .div_1 label,
[data-dpr="2"] .wrap form .div_2 label,
[data-dpr="2"] .wrap form .div_4 label {
  font-size: 28px;
}
[data-dpr="3"] .wrap form .div_0 label,
[data-dpr="3"] .wrap form .div_1 label,
[data-dpr="3"] .wrap form .div_2 label,
[data-dpr="3"] .wrap form .div_4 label {
  font-size: 42px;
}
.wrap form .div_0 input,
.wrap form .div_1 input,
.wrap form .div_2 input,
.wrap form .div_4 input {
  position: absolute;
  top: 0;
  left: 1.5625rem;
  box-sizing: border-box;
  height: 100%;
  padding-left: 0.09375rem;
  font-size: 14px;
}
[data-dpr="2"] .wrap form .div_0 input,
[data-dpr="2"] .wrap form .div_1 input,
[data-dpr="2"] .wrap form .div_2 input,
[data-dpr="2"] .wrap form .div_4 input {
  font-size: 28px;
}
[data-dpr="3"] .wrap form .div_0 input,
[data-dpr="3"] .wrap form .div_1 input,
[data-dpr="3"] .wrap form .div_2 input,
[data-dpr="3"] .wrap form .div_4 input {
  font-size: 42px;
}
.wrap form .div_1 input,
.wrap form .div_2 input {
  width: 6.25rem;
}
.wrap form .div_0 #tui {
  position: absolute;
  top: 0;
  left: 1.5625rem;
  width: 3.4375rem;
  box-sizing: border-box;
  height: 100%;
  padding-left: 0.09375rem;
  font-size: 14px;
}
[data-dpr="2"] .wrap form .div_0 #tui {
  font-size: 28px;
}
[data-dpr="3"] .wrap form .div_0 #tui {
  font-size: 42px;
}
.wrap form .div_0 .mui-icon-clear {
  right: 3.125rem;
}
.wrap form .div_0 p {
  position: absolute;
  top: 0;
  right: 0;
  background: #1cc91c;
  width: 3.125rem;
  height: 100%;
  line-height: 1.25rem;
  text-align: center;
  border-radius: 0.15625rem;
  color: #fff;
  font-size: 12px;
}
[data-dpr="2"] .wrap form .div_0 p {
  font-size: 24px;
}
[data-dpr="3"] .wrap form .div_0 p {
  font-size: 36px;
}
.wrap form .div_0 p .btn_s {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 100%;
  opacity: 0;
  border: none;
}
.wrap form .div_3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.9375rem;
  margin-bottom: 0.3125rem;
}
.wrap form .div_3 button {
  height: 1.25rem;
  background: #1cc91c;
  flex-basis: 100%;
  border: none;
  font-size: 14px;
  border-radius: 0.15625rem;
  color: #fff;
  margin-bottom: 0.3125rem;
}
[data-dpr="2"] .wrap form .div_3 button {
  font-size: 28px;
}
[data-dpr="3"] .wrap form .div_3 button {
  font-size: 42px;
}
.wrap form .error {
  display: none;
  width: 100%;
  box-sizing: border-box;
  height: 0.9375rem;
  margin: 0;
}
.wrap form .error p {
  height: 0.9375rem;
  line-height: 0.9375rem;
  font-size: 12px;
  color: #f00;
  padding-left: 0.3125rem;
}
[data-dpr="2"] .wrap form .error p {
  font-size: 24px;
}
[data-dpr="3"] .wrap form .error p {
  font-size: 36px;
}
.wrap form .div_4 .mui-icon-clear {
  right: 3.125rem;
}
.wrap form .div_4 input {
  position: absolute;
  top: 0;
  left: 1.5625rem;
  width: 3.4375rem;
  box-sizing: border-box;
  height: 100%;
  padding-left: 0.09375rem;
  font-size: 14px;
}
[data-dpr="2"] .wrap form .div_4 input {
  font-size: 28px;
}
[data-dpr="3"] .wrap form .div_4 input {
  font-size: 42px;
}
.wrap form .div_4 .btn_y {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.125rem;
  height: 100%;
  background: #1cc91c;
  border: none;
  font-size: 12px;
  border-radius: 0.15625rem;
  color: #fff;
}
[data-dpr="2"] .wrap form .div_4 .btn_y {
  font-size: 24px;
}
[data-dpr="3"] .wrap form .div_4 .btn_y {
  font-size: 36px;
}
.mui-content,
.mui-input-group,
.mui-input-group:before,
.mui-input-group:after,
.mui-input-group .mui-input-row:after {
  background: none;
}
.mui-error {
  padding: 0;
}
.mui-input-row .mui-input-clear ~ .mui-icon-clear {
  width: 1.1875rem;
  height: 1.1875rem;
  font-size: 20px;
  top: 0.3125rem;
}
[data-dpr="2"] .mui-input-row .mui-input-clear ~ .mui-icon-clear {
  font-size: 40px;
}
[data-dpr="3"] .mui-input-row .mui-input-clear ~ .mui-icon-clear {
  font-size: 60px;
}
